<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>スケジュール管理</title>
    <link rel="stylesheet" href="common.scss">
  </head>
  <body>
  <div class="partial">
  <h4>スケジュール管理アプリ</h4>
  </div>
  </body>
</html>
